{% extends "remapp/filteredbase.html" %}

{% block navbar %}
  {% if request.user.userprofile.displayCT %}<li class="active"><a href="/openrem/ct">CT</a></li>{% endif %}
  {% if request.user.userprofile.displayRF %}<li><a href="/openrem/rf">Fluoroscopy</a></li>{% endif %}
  {% if request.user.userprofile.displayMG %}<li><a href="/openrem/mg">Mammography</a></li>{% endif %}
  {% if request.user.userprofile.displayDX %}<li><a href="/openrem/dx">Radiography</a></li>{% endif %}
{% endblock %}

{% block toprow %}
  {% load pagination_tags %}

  <p>
    There are {{ filter.count }} studies in this list.
  </p>
  {% if admin.exportperm or admin.adminperm %}
    <ul>
      <li><strong>Note:</strong> Apply the filter first to refine what is exported.</li>
      <li><a href="/openrem/exportctcsv1/?{{ request.GET.urlencode }}">Export to CSV</a> </li>
      <li><a href="/openrem/exportctxlsx1/?{{ request.GET.urlencode }}">Export to XLSX</a></li>
    </ul>

  {% else %}
    <p>
      Sorry, you don't have enough permissions to enable study export.
    </p>
  {% endif %}

{% endblock %}


{% block col2 %}


  {{ studyfilter }}

  <form action="" method="get" class="form-horizontal" role="form">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Exam filter</h3>
      </div>
      <div class="panel-body">
        <i>Date format yyyy-mm-dd</i>
        {% for field in filter.form.visible_fields %}
          <div class="form-group">
            <div class="col-xs-4">
              <label>{{ field.label_tag }}</label>
            </div>
            <div class="col-xs-8">
              {{ field.errors }}
              {{ field }}
            </div>
          </div>
        {% endfor %}
        {% for field in filter.form.hidden_fields %}
          <div style="display:none">{{ field }}</div>
        {% endfor %}
        <input name="submit" type="submit" />
      </div>
      <div class="panel-heading">
        <h3 class="panel-title">Chart options</h3>
      </div>
      <div class="panel-body">
        <table>
          {% csrf_token %}
          {{ chartOptionsForm }}
        </table>
        <input name="submit" type="submit" />
      </div>
    </div>
  </form>

  <script src="{{ STATIC_URL }}js/datepicker.js"></script>
  <script src="{{ STATIC_URL }}js/formatDate.js"></script>
  <script src="{{ STATIC_URL }}js/getColours.js"></script>

{% endblock %}

{% block col1 %}


  {% autopaginate filter.qs 25 as filter_list %}
  {% paginate %}

  <table class="table table-bordered table-hover row-clickable">
    <tr>
      <th>Institution</th><th>Make | Model | Display name</th><th>Date</th><th>Study description | Request | Accession number</th><th>Number of events</th><th>Dose Length Product Total (mGy.cm)</th>
      {% if admin.adminperm %}
        <th>Delete?</th>
      {% endif %}
    </tr>
    {% for exam in filter_list %}
      <tr>
        <td>
          <a href="/openrem/ct/{{ exam.id }}/">
            {{ exam.generalequipmentmoduleattr_set.get.institution_name }}
          </a>
        </td>
        <td>
          <a href="/openrem/ct/{{ exam.id }}/">
            {{ exam.generalequipmentmoduleattr_set.get.manufacturer }} |
            {{ exam.generalequipmentmoduleattr_set.get.manufacturer_model_name }} |
            {{ exam.generalequipmentmoduleattr_set.get.unique_equipment_name.display_name }}
          </a>
        </td>
        <td>
          <a href="/openrem/ct/{{ exam.id }}/">
            {{ exam.study_date|date:"Y-m-d" }} {{ exam.study_time|date:"H:i" }}</td>
        </a>
        <td>
          <a href="/openrem/ct/{{ exam.id }}/">
            {{ exam.study_description }}</a> |
          {{ exam.requested_procedure_code_meaning }} |
          {{ exam.accession_number }}
          </a>
        </td>
        <td>
          <a href="/openrem/ct/{{ exam.id }}/">
            {{ exam.ctradiationdose_set.get.ctaccumulateddosedata_set.get.total_number_of_irradiation_events }}
          </a>
        </td>
        <td>
          <a href="/openrem/ct/{{ exam.id }}/">
            {{ exam.ctradiationdose_set.get.ctaccumulateddosedata_set.get.ct_dose_length_product_total|floatformat:2 }}
          </a>
        </td>
        {% if admin.adminperm %}
          <td>
            <a href="{% url 'study_delete' exam.id %}">Delete</a>
          </td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>

  {% paginate %}

{% endblock %}

{% block jsblock %}
{% endblock %}

{% block plotdata %}

  {% if request.user.userprofile.plotCharts %}
    <!-- Include JavaScript to enable highcharts plots -->
    <script src="{{ STATIC_URL }}js/highcharts.js"></script>
    <script src="{{ STATIC_URL }}js/exporting.js"></script>
    <script src="{{ STATIC_URL }}js/export-csv.js"></script>
    <!-- End of include JavaScript to enable highcharts plots -->


    <!-- JavaScript function to sort a list of objects by the 'y' or 'name' object. -->
    <script src="{{ STATIC_URL }}js/sorting.js"></script>
    <!-- End of JavaScript function to sort a list of objects by the 'y' or 'name' object -->


    {% if request.user.userprofile.plotCTAcquisitionMeanCTDI and request.user.userprofile.plotCTAcquisitionMeanDLP %}
      <!-- HTML to include div container for acquisition DLP and CTDI plot -->
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseDLPandCTDI">
                {% if request.user.userprofile.plotAverageChoice == 'mean' %}
                Plot of mean DLP and CTDI<sub>vol</sub> for each acquisition protocol.
                {% elif request.user.userprofile.plotAverageChoice == 'median' %}
                Plot of median DLP and CTDI<sub>vol</sub> for each acquisition protocol.
                {% else %}
                Plot of mean and median DLP and CTDI<sub>vol</sub> for each acquisition protocol.
                {% endif %}
              </a>
            </h4>
          </div>
          <div id="collapseDLPandCTDI" class="panel-collapse collapse">
            <div class="panel-body">
              <div id="histogramPlotDLPandCTDIdiv" style="width: 95%; height: 600px; margin: 0 0"></div>
              <p>Click on an individual column to show a histogram of data for that acquisition protocol.</p>
              <p>Click on a histogram bin tooltip to see the studies that contain the acquisitions in the bin.
                Note that this will include acquisitions at the upper bin boundary, so in some cases may display
                more data than shown in the histogram bin.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End of HTML to include div container for acquisition DLP and CTDI plot -->


    {% elif request.user.userprofile.plotCTAcquisitionMeanDLP %}
      <!-- HTML to include div container for acquisition plot -->
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                {% if request.user.userprofile.plotAverageChoice == 'mean' %}
                Plot of mean DLP for each acquisition protocol.
                {% elif request.user.userprofile.plotAverageChoice == 'median' %}
                Plot of median DLP for each acquisition protocol.
                {% else %}
                Plot of mean and median DLP for each acquisition protocol.
                {% endif %}
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <div id="histogramPlotDIV" style="width: 95%; height: 600px; margin: 0 0"></div>
              <p>Click on an individual column to show a histogram of data for that acquisition protocol.</p>
              <p>Click on a histogram bin tooltip to see the studies that contain the acquisitions in the bin.
                Note that this will include acquisitions at the upper bin boundary, so in some cases may display
                more data than shown in the histogram bin.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End of HTML to include div container for acquisition plot -->


    {% elif request.user.userprofile.plotCTAcquisitionMeanCTDI %}
      <!-- HTML to include div container for acquisition CTDI plot -->
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseCTDI">
                {% if request.user.userprofile.plotAverageChoice == 'mean' %}
                Plot of mean CTDI<sub>vol</sub> for each acquisition protocol.
                {% elif request.user.userprofile.plotAverageChoice == 'median' %}
                Plot of median CTDI<sub>vol</sub> for each acquisition protocol.
                {% else %}
                Plot of mean and median CTDI<sub>vol</sub> for each acquisition protocol.
                {% endif %}
              </a>
            </h4>
          </div>
          <div id="collapseCTDI" class="panel-collapse collapse">
            <div class="panel-body">
              <div id="histogramPlotCTDIdiv" style="width: 95%; height: 600px; margin: 0 0"></div>
              <p>Click on an individual column to show a histogram of data for that acquisition protocol.</p>
              <p>Click on a histogram bin tooltip to see the studies that contain the acquisitions in the bin.
                Note that this will include acquisitions at the upper bin boundary, so in some cases may display
                more data than shown in the histogram bin.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End of HTML to include div container for acquisition CTDI plot -->
    {% endif %}


    {% if request.user.userprofile.plotCTAcquisitionFreq %}
      <!-- HTML to include div container for acquisition pie chart -->
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseProtocolPieChart">
                Pie chart showing a breakdown of acquisition protocol frequency.
              </a>
            </h4>
          </div>
          <div id="collapseProtocolPieChart" class="panel-collapse collapse">
            <div class="panel-body">
              <div id="piechartProtocolDIV" style="width: 95%; height: 600px; margin: 0 0"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- HTML to include div container for acquisition pie chart -->
    {% endif %}

    <!-- Include JavaScript to enable highcharts drilldown plots -->
    <script src="{{ STATIC_URL }}js/drilldown.js"></script>
    <!-- End of include JavaScript to enable highcharts drilldown plots -->


    {% if request.user.userprofile.plotCTAcquisitionMeanDLP or request.user.userprofile.plotCTAcquisitionFreq or request.user.userprofile.plotCTAcquisitionMeanCTDI %}
      <!-- JavaScript for acquisition mean DLP and acquisition frequency plot -->
      <script>
        var protocolNames     = [
          {% for name in acquisitionSummary %}
            "{{name.acquisition_protocol}}"
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        var seriesDataN       = [
          {% for testData in acquisitionSummary %}
            '{{testData.num_acq}}'
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
      </script>
    {% endif %}

    {% if request.user.userprofile.plotCTAcquisitionMeanDLP %}
      <!-- JavaScript for acquisition mean DLP plot -->
      <script>
        var protocolCounts    = [
          {% for protocol in acquisitionHistogramData %}
            [
              {% for dataCounts in protocol.0 %}
                {{dataCounts}}
                {% if not forloop.last %},{% endif %}
              {% endfor %}
            ]
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        var protocolBins      = [
          {% for protocolEdges in acquisitionHistogramData %}
            [
              {% for edges in protocolEdges.1 %}
                {{edges}}
                {% if not forloop.last %},{% endif %}
              {% endfor %}
            ]
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        {% if request.user.userprofile.plotAverageChoice == 'mean' or request.user.userprofile.plotAverageChoice == 'both' %}
        var seriesData        = [
          {% for testData in acquisitionSummary %}
            {{'{'}}name:protocolNames[{{forloop.counter}}-1],y: {{testData.mean_dlp}},drilldown:protocolNames[{{forloop.counter}}-1]{{'}'}}
                  {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        {% endif %}
        {% if request.user.userprofile.plotAverageChoice == 'median' or request.user.userprofile.plotAverageChoice == 'both' %}
        var seriesMedianData        = [
          {% for testData in acquisitionSummary %}
            {{'{'}}name:protocolNames[{{forloop.counter}}-1],y: {{testData.median_dlp}}/10000000000,drilldown:protocolNames[{{forloop.counter}}-1]{{'}'}}
                  {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        {% endif %}
        var seriesDrilldown   = [
          {% for protocolCountsArray in acquisitionHistogramData %}
            {id: protocolNames[{{forloop.counter}}-1],name: protocolNames[{{forloop.counter}}-1],useHTML: true,data: [
              {% for dataCounts in protocolCountsArray.0 %}
                [protocolBins[{{forloop.parentloop.counter}}-1][{{forloop.counter}}-1].toFixed(1).toString() + ' \u2264 x {% if not forloop.last %}<{% else %}\u2264{% endif %} ' + protocolBins[{{forloop.parentloop.counter}}-1][{{forloop.counter}}].toFixed(1).toString(),{{dataCounts}}]
                {% if not forloop.last %},{% endif %}
              {% endfor %}]}
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];

        var tooltipFiltersAcq = '{% for field in filter.form %}{% if field.name != 'acquisition_dlp_min' and field.name != 'acquisition_dlp_max' and field.name != 'acquisition_protocol' and field.name != 'o' and field.value %}&{{ field.name }}={{ field.value }}{% endif %}{% endfor %}';
      </script>

      {% if not request.user.userprofile.plotCTAcquisitionMeanCTDI %}
          {% if request.user.userprofile.plotAverageChoice == 'both' %}
          <script src="{{ STATIC_URL }}js/ctChartDLPperAcquisitionMeanAndMedian.js"></script>
          {% elif request.user.userprofile.plotAverageChoice == 'mean' %}
          <script src="{{ STATIC_URL }}js/ctChartDLPperAcquisitionMean.js"></script>
          {% else %}
          <script src="{{ STATIC_URL }}js/ctChartDLPperAcquisitionMedian.js"></script>
          {% endif %}
      {% endif %}
      <!-- End of JavaScript for acquisition plot -->
    {% endif %}


    {% if request.user.userprofile.plotCTAcquisitionMeanCTDI %}
      <!-- JavaScript for acquisition mean CTDI plot -->
      <script>
        var protocolCountsCTDI = [
          {% for protocol in acquisitionHistogramDataCTDI %}
            [
              {% for dataCounts in protocol.0 %}
                {{dataCounts}}
                {% if not forloop.last %},{% endif %}
              {% endfor %}
            ]
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        var protocolBinsCTDI = [
          {% for protocolEdges in acquisitionHistogramDataCTDI %}
            [
              {% for edges in protocolEdges.1 %}
                {{edges}}
                {% if not forloop.last %},{% endif %}
              {% endfor %}
            ]
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        {% if request.user.userprofile.plotAverageChoice == 'mean' or request.user.userprofile.plotAverageChoice == 'both' %}
        var seriesDataCTDI = [
          {% for testData in acquisitionSummary %}
            {{'{'}}name:protocolNames[{{forloop.counter}}-1],y: {{testData.mean_ctdi}},drilldown:protocolNames[{{forloop.counter}}-1]+'CTDI'{{'}'}}
                  {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        {% endif %}
        {% if request.user.userprofile.plotAverageChoice == 'median' or request.user.userprofile.plotAverageChoice == 'both' %}
        var seriesMedianDataCTDI = [
          {% for testData in acquisitionSummary %}
            {{'{'}}name:protocolNames[{{forloop.counter}}-1],y: {{testData.median_ctdi}}/10000000000,drilldown:protocolNames[{{forloop.counter}}-1]+'CTDI'{{'}'}}
                  {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        {% endif %}
        var seriesDrilldownCTDI = [
          {% for protocolCountsArray in acquisitionHistogramDataCTDI %}
            {id: protocolNames[{{forloop.counter}}-1]+'CTDI',name: protocolNames[{{forloop.counter}}-1],useHTML: true,data: [
              {% for dataCounts in protocolCountsArray.0 %}
                [protocolBinsCTDI[{{forloop.parentloop.counter}}-1][{{forloop.counter}}-1].toFixed(1).toString() + ' \u2264 x {% if not forloop.last %}<{% else %}\u2264{% endif %} ' + protocolBinsCTDI[{{forloop.parentloop.counter}}-1][{{forloop.counter}}].toFixed(1).toString(),{{dataCounts}}]
                {% if not forloop.last %},{% endif %}
              {% endfor %}]}
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];

        var tooltipFiltersAcqCTDI = '{% for field in filter.form %}{% if field.name != 'acquisition_ctdi_min' and field.name != 'acquisition_ctdi_max' and field.name != 'acquisition_protocol' and field.name != 'o' and field.value %}&{{ field.name }}={{ field.value }}{% endif %}{% endfor %}';
      </script>

      {% if not request.user.userprofile.plotCTAcquisitionMeanDLP %}
          {% if request.user.userprofile.plotAverageChoice == 'both' %}
          <script src="{{ STATIC_URL }}js/ctChartCTDIperAcquisitionMeanAndMedian.js"></script>
          {% elif request.user.userprofile.plotAverageChoice == 'mean' %}
          <script src="{{ STATIC_URL }}js/ctChartCTDIperAcquisitionMean.js"></script>
          {% else %}
          <script src="{{ STATIC_URL }}js/ctChartCTDIperAcquisitionMedian.js"></script>
          {% endif %}
      {% endif %}
      <!-- End of JavaScript for acquisition CTDI plot -->
    {% endif %}


    {% if request.user.userprofile.plotCTAcquisitionMeanDLP and request.user.userprofile.plotCTAcquisitionMeanCTDI %}
      <!-- JavaScript for acquisition mean DLP and CTDI plot -->
        {% if request.user.userprofile.plotAverageChoice == 'both' %}
        <script src="{{ STATIC_URL }}js/ctChartDLPandCTDIperAcquisitionMeanAndMedian.js"></script>
        {% elif request.user.userprofile.plotAverageChoice == 'mean' %}
        <script src="{{ STATIC_URL }}js/ctChartDLPandCTDIperAcquisitionMean.js"></script>
        {% else %}
        <script src="{{ STATIC_URL }}js/ctChartDLPandCTDIperAcquisitionMedian.js"></script>
        {% endif %}
      <!-- End of JavaScript for acquisition CTDI plot -->
    {% endif %}


    {% if request.user.userprofile.plotCTAcquisitionFreq %}
      <!-- JavaScript for acquisition pie chart -->
      <script>
        var urlStart = '/openrem/ct/?{% for field in filter.form %}{% if field.name != 'acquisition_protocol' and field.name != 'o' and field.value %}&{{ field.name }}={{ field.value }}{% endif %}{% endfor %}&acquisition_protocol=';
        var protocolPiechartData = new Array(protocolNames.length);
        for(var i=0; i<protocolNames.length; i++) {
          protocolPiechartData[i] = {name:protocolNames[i], y:parseInt(seriesDataN[i]), url:urlStart+protocolNames[i]};
        }
        protocolPiechartData.sort(sort_by_y);

        protocolColours = getColours(protocolNames.length);
        for(var i=0; i<protocolNames.length; i++) {
          protocolPiechartData[i].color = protocolColours[i];
        }
      </script>

      <script src="{{ STATIC_URL }}js/ctChartAcquisitionFrequency.js"></script>
      <!-- End of JavaScript for acquisition pie chart -->
    {% endif %}


    {% if request.user.userprofile.plotCTStudyMeanDLP %}
      <!-- HTML to include div container for study plot -->
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                {% if request.user.userprofile.plotAverageChoice == 'mean' %}
                Plot of mean DLP for each study description.
                {% elif request.user.userprofile.plotAverageChoice == 'median' %}
                Plot of median DLP for each study description.
                {% else %}
                Plot of mean and median DLP for each study description.
                {% endif %}
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              <div id="histogramStudyPlotDIV" style="width: 95%; height: 600px; margin: 0 0"></div>
              <p>Click on an individual column to show a histogram of data for that study.</p>
              <p>Click on a histogram bin tooltip to see the studies in the bin. Note that this will
                include studies at the upper bin boundary, so in some cases may display more data than
                shown in the histogram bin.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End of HTML to include div container for study plot -->
    {% endif %}


    {% if request.user.userprofile.plotCTStudyFreq %}
      <!-- HTML to include div container for study pie chart -->
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseStudyPieChart">
                Pie chart showing a breakdown of study frequency.
              </a>
            </h4>
          </div>
          <div id="collapseStudyPieChart" class="panel-collapse collapse">
            <div class="panel-body">
              <div id="piechartStudyDIV" style="width: 95%; height: 600px; margin: 0 0"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- End of HTML to include div container for study pie chart -->
    {% endif %}


    {% if request.user.userprofile.plotCTRequestMeanDLP %}
      <!-- HTML to include div container for request plot -->
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseRequestMeanDLP">
                {% if request.user.userprofile.plotAverageChoice == 'mean' %}
                Plot of mean DLP for each requested procedure type.
                {% elif request.user.userprofile.plotAverageChoice == 'median' %}
                Plot of median DLP for each requested procedure type.
                {% else %}
                Plot of mean and median DLP for each requested procedure type.
                {% endif %}
              </a>
            </h4>
          </div>
          <div id="collapseRequestMeanDLP" class="panel-collapse collapse">
            <div class="panel-body">
              <div id="histogramRequestPlotDIV" style="width: 95%; height: 600px; margin: 0 0"></div>
              <p>Click on an individual column to show a histogram of data for that study.</p>
              <p>Click on a histogram bin tooltip to see the studies in the bin. Note that this will
                include studies at the upper bin boundary, so in some cases may display more data than
                shown in the histogram bin.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End of HTML to include div container for request plot -->
    {% endif %}


    {% if request.user.userprofile.plotCTRequestFreq %}
      <!-- HTML to include div container for request pie chart -->
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseRequestPieChart">
                Pie chart showing a breakdown of requested procedure type frequency.
              </a>
            </h4>
          </div>
          <div id="collapseRequestPieChart" class="panel-collapse collapse">
            <div class="panel-body">
              <div id="piechartRequestDIV" style="width: 95%; height: 600px; margin: 0 0"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- End of HTML to include div container for request pie chart -->
    {% endif %}


    {% if request.user.userprofile.plotCTStudyPerDayAndHour %}
      <!-- HTML to include div container for pie chart of studies per week day pie chart -->
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseStudyWorkloadPieChart">
                Pie chart showing a breakdown of number of studies per weekday.
              </a>
            </h4>
          </div>
          <div id="collapseStudyWorkloadPieChart" class="panel-collapse collapse">
            <div class="panel-body">
              <div id="piechartStudyWorkloadDIV" style="width: 95%; height: 600px; margin: 0 0"></div>
              <p>Click on a segment to be taken to a pie chart showing the breakdown per hour for that weekday.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End of HTML to include div container for studies per week day pie chart -->
    {% endif %}


    {% if request.user.userprofile.plotCTStudyMeanDLPOverTime %}
      <!-- HTML to include div container for mean study DLP per week -->
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseWeeklyStudyMeanChart">
                {% if request.user.userprofile.plotAverageChoice == 'mean' %}
                Line plot showing mean DLP of each study type over time ({{ request.user.userprofile.plotCTStudyMeanDLPOverTimePeriod }}).
                {% else %}
                Line plot showing median DLP of each study type over time ({{ request.user.userprofile.plotCTStudyMeanDLPOverTimePeriod }}).
                {% endif %}
              </a>
            </h4>
          </div>
          <div id="collapseWeeklyStudyMeanChart" class="panel-collapse collapse">
            <div class="panel-body">
              <div id="studyMeanDLPOverTimeDIV" style="width: 95%; height: 600px; margin: 0 0"></div>
              <p>Click on the legend entries to show or hide the corresponding series. Click and drag the mouse over a date range to zoom in.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End of HTML to include div container for mean study DLP per week -->
    {% endif %}


    {% if request.user.userprofile.plotCTStudyMeanDLP or request.user.userprofile.plotCTStudyFreq or request.user.userprofile.plotCTStudyMeanDLPOverTime %}
      <!-- JavaScript for study plot. Some data also required by other plots -->
      <script>
        var studyNames     = [
          {% for name in studySummary %}
            "{{name.study_description}}"
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        var studySeriesDataN = [
          {% for testData in studySummary %}
            '{{testData.num_acq}}'
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
      </script>
    {% endif %}

    {% if request.user.userprofile.plotCTStudyMeanDLP %}
      <script>
        <!-- JavaScript for study plot. -->
        var studyCounts    = [
          {% for study in studyHistogramData %}
            [
              {% for dataCounts in study.0 %}
                {{dataCounts}}
                {% if not forloop.last %},{% endif %}
              {% endfor %}
            ]
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        var studyBins      = [
          {% for studyEdges in studyHistogramData %}
            [
              {% for edges in studyEdges.1 %}
                {{edges}}
                {% if not forloop.last %},{% endif %}
              {% endfor %}
            ]
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        {% if request.user.userprofile.plotAverageChoice == 'mean' or request.user.userprofile.plotAverageChoice == 'both' %}
        var studySeriesData = [
          {% for testData in studySummary %}
            {{'{'}}name:studyNames[{{forloop.counter}}-1],y: {{testData.mean_dlp}},drilldown:studyNames[{{forloop.counter}}-1]{{'}'}}
                  {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        {% endif %}
        {% if request.user.userprofile.plotAverageChoice == 'median' or request.user.userprofile.plotAverageChoice == 'both' %}
        var studySeriesMedianData = [
          {% for testData in studySummary %}
            {{'{'}}name:studyNames[{{forloop.counter}}-1],y: {{testData.median_dlp}}/10000000000,drilldown:studyNames[{{forloop.counter}}-1]{{'}'}}
                  {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        {% endif %}
        var studySeriesDrilldown   = [
          {% for studyCountsArray in studyHistogramData %}
            {id: studyNames[{{forloop.counter}}-1],name: studyNames[{{forloop.counter}}-1],useHTML: true,data: [
              {% for dataCounts in studyCountsArray.0 %}
                [studyBins[{{forloop.parentloop.counter}}-1][{{forloop.counter}}-1].toFixed(1).toString() + ' \u2264 x {% if not forloop.last %}<{% else %}\u2264{% endif %} ' + studyBins[{{forloop.parentloop.counter}}-1][{{forloop.counter}}].toFixed(1).toString(),{{dataCounts}}]
                {% if not forloop.last %},{% endif %}
              {% endfor %}]}
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];

        var tooltipFiltersStudy = '{% for field in filter.form %}{% if field.name != 'study_dlp_min' and field.name != 'study_dlp_max' and field.name != 'study_description' and field.name != 's' and field.name != 'o' and field.value %}&{{ field.name }}={{ field.value }}{% endif %}{% endfor %}';
      </script>

      {% if request.user.userprofile.plotAverageChoice == 'both' %}
          <script src="{{ STATIC_URL }}js/ctChartDLPperStudyMeanAndMedian.js"></script>
      {% elif request.user.userprofile.plotAverageChoice == 'mean' %}
          <script src="{{ STATIC_URL }}js/ctChartDLPperStudyMean.js"></script>
      {% else %}
          <script src="{{ STATIC_URL }}js/ctChartDLPperStudyMedian.js"></script>
      {% endif %}
      <!-- End of JavaScript for study plot -->
    {% endif %}


    {% if request.user.userprofile.plotCTStudyFreq or request.user.userprofile.plotCTStudyMeanDLPOverTime %}
      <!-- JavaScript for study pie chart. studyColours also needed by DLP over time plot -->
      <script>
        var urlStart = '/openrem/ct/?{% for field in filter.form %}{% if field.name != 'study_description' and field.name != 'o' and field.value %}&{{ field.name }}={{ field.value }}{% endif %}{% endfor %}&study_description=';
        var studyPiechartData = new Array(studyNames.length);
        for(var i=0; i<studyNames.length; i++) {
          studyPiechartData[i] = {name:studyNames[i], y:parseInt(studySeriesDataN[i]), url:urlStart+studyNames[i]};
        }
        studyPiechartData.sort(sort_by_y);

        studyColours = getColours(studyNames.length);
        for(var i=0; i<studyNames.length; i++) {
          studyPiechartData[i].color = studyColours[i];
        }
      </script>
    {% endif %}

    {% if request.user.userprofile.plotCTStudyFreq %}
      <script src="{{ STATIC_URL }}js/ctChartStudyFrequency.js"></script>
      <!-- End of JavaScript for study pie chart -->
    {% endif %}




    {% if request.user.userprofile.plotCTRequestMeanDLP or request.user.userprofile.plotCTRequestFreq %}
      <!-- JavaScript for request mean DLP and request frequency plot. -->
      <script>
        var requestNames     = [
          {% for name in requestSummary %}
            "{{name.requested_procedure_code_meaning}}"
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        var requestSeriesDataN = [
          {% for testData in requestSummary %}
            '{{testData.num_req}}'
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];

        var tooltipFiltersRequest = '{% for field in filter.form %}{% if field.name != 'study_dlp_min' and field.name != 'study_dlp_max' and field.name != 'requested_procedure' and field.name != 's' and field.name != 'o' and field.value %}&{{ field.name }}={{ field.value }}{% endif %}{% endfor %}';
      </script>
    {% endif %}

    {% if request.user.userprofile.plotCTRequestMeanDLP %}
      <script>
        <!-- JavaScript for study plot. -->
        var requestCounts    = [
          {% for request in requestHistogramData %}
            [
              {% for dataCounts in request.0 %}
                {{dataCounts}}
                {% if not forloop.last %},{% endif %}
              {% endfor %}
            ]
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        var requestBins      = [
          {% for requestEdges in requestHistogramData %}
            [
              {% for edges in requestEdges.1 %}
                {{edges}}
                {% if not forloop.last %},{% endif %}
              {% endfor %}
            ]
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        {% if request.user.userprofile.plotAverageChoice == 'mean' or request.user.userprofile.plotAverageChoice == 'both' %}
        var requestSeriesData = [
          {% for testData in requestSummary %}
            {{'{'}}name:requestNames[{{forloop.counter}}-1],y: {{testData.mean_dlp}},drilldown:requestNames[{{forloop.counter}}-1]{{'}'}}
                  {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        {% endif %}
        {% if request.user.userprofile.plotAverageChoice == 'median' or request.user.userprofile.plotAverageChoice == 'both' %}
        var requestSeriesMedianData = [
          {% for testData in requestSummary %}
            {{'{'}}name:requestNames[{{forloop.counter}}-1],y: {{testData.median_dlp}}/10000000000,drilldown:requestNames[{{forloop.counter}}-1]{{'}'}}
                  {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        {% endif %}
        var requestSeriesDrilldown   = [
          {% for requestCountsArray in requestHistogramData %}
            {id: requestNames[{{forloop.counter}}-1],name: requestNames[{{forloop.counter}}-1],useHTML: true,data: [
              {% for dataCounts in requestCountsArray.0 %}
                [requestBins[{{forloop.parentloop.counter}}-1][{{forloop.counter}}-1].toFixed(1).toString() + ' \u2264 x {% if not forloop.last %}<{% else %}\u2264{% endif %} ' + requestBins[{{forloop.parentloop.counter}}-1][{{forloop.counter}}].toFixed(1).toString(),{{dataCounts}}]
                {% if not forloop.last %},{% endif %}
              {% endfor %}]}
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
      </script>

      {% if request.user.userprofile.plotAverageChoice == 'both' %}
          <script src="{{ STATIC_URL }}js/ctChartDLPperRequestMeanAndMedian.js"></script>
      {% elif request.user.userprofile.plotAverageChoice == 'mean' %}
          <script src="{{ STATIC_URL }}js/ctChartDLPperRequestMean.js"></script>
      {% else %}
          <script src="{{ STATIC_URL }}js/ctChartDLPperRequestMedian.js"></script>
      {% endif %}
      <!-- End of JavaScript for request plot -->
    {% endif %}


    {% if request.user.userprofile.plotCTRequestFreq %}
      <!-- JavaScript for request pie chart. -->
      <script>
        var urlStart = '/openrem/ct/?{% for field in filter.form %}{% if field.name != 'requested_procedure' and field.name != 'o' and field.value %}&{{ field.name }}={{ field.value }}{% endif %}{% endfor %}&requested_procedure=';
        var requestPiechartData = new Array(requestNames.length);
        for(var i=0; i<requestNames.length; i++) {
          requestPiechartData[i] = {name:requestNames[i], y:parseInt(requestSeriesDataN[i]), url:urlStart+requestNames[i]};
        }
        requestPiechartData.sort(sort_by_y);

        requestColours = getColours(requestNames.length);
        for(var i=0; i<requestNames.length; i++) {
          requestPiechartData[i].color = requestColours[i];
        }
      </script>
    {% endif %}

    {% if request.user.userprofile.plotCTRequestFreq %}
      <script src="{{ STATIC_URL }}js/ctChartRequestFrequency.js"></script>
      <!-- End of JavaScript for request pie chart -->
    {% endif %}








    {% if request.user.userprofile.plotCTStudyPerDayAndHour %}
      <!-- JavaScript for studies per weekday pie chart with drilldown to hourly breakdown -->
      <script>
        var dayNames = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];

        var studiesPerHourEachWeekday = [
          {% for dayCounts in studiesPerHourInWeekdays %}
            [
              {% for hourCounts in dayCounts %}
                {{hourCounts}}
                {% if not forloop.last %},{% endif %}
              {% endfor %}
            ]
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        var studiesPerWeekday = new Array(7);
        for(var i=0; i<7; i++) {
          var tempTotal = 0;
          for(var j=0; j<24; j++) {
            tempTotal = tempTotal + studiesPerHourEachWeekday[i][j];
          }
          studiesPerWeekday[i] = tempTotal;
        }

        var hourColours = getColours(24);
        var seriesDrillDownPieChart   = [
          {% for dayCounts in studiesPerHourInWeekdays %}
            {id:dayNames[{{forloop.counter}}-1], name:dayNames[{{forloop.counter}}-1], useHTML:true, type:'pie', data: [
              {% for hourCounts in dayCounts %}
                {{'{'}}name:'{{forloop.counter|add:"-1"|stringformat:"02d"}}:00', y:studiesPerHourEachWeekday[{{forloop.parentloop.counter}}-1][{{forloop.counter}}-1],color:hourColours[{{forloop.counter}}]{{'}'}}{% if not forloop.last %},{% endif %}
              {% endfor %}]}
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];

        var dayColours = getColours(7);
        var studyWorkloadPieChartData= new Array(7);
        for(var i=0; i<7; i++) {
          studyWorkloadPieChartData[i] = {name:dayNames[i], y:studiesPerWeekday[i], color:dayColours[i], drilldown:dayNames[i]};
        }
      </script>

      <script src="{{ STATIC_URL }}js/ctChartStudyWorkload.js"></script>
      <!-- End of JavaScript for studies per week day pie chart -->
    {% endif %}


    {% if request.user.userprofile.plotCTStudyMeanDLPOverTime %}
      <!-- JavaScript for mean DLP per study description -->
      <script>
        dateAxis = [
        {% if request.user.userprofile.plotAverageChoice == 'mean' %}
          {% for dateEntries in studyMeanDLPoverTime.0 %}
            "{{ dateEntries.0.date|date:"d/m/Y" }}"
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        {% else %}
          {% for dateEntries in studyMedianDLPoverTime.0 %}
            "{{ dateEntries.0.date|date:"d/m/Y" }}"
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        {% endif %}
        ];

        // Create the same colours as for the study pie chart, so that the colours
        // are the same for the studies in the pie chart and this plot.
        var studyLineColours =  new Array(studyNames.length);
        studyPiechartData.sort(sort_by_name);
        for(var i=0; i<studyNames.length; i++) {
          studyLineColours[i] = studyPiechartData[i].color;
        }
        studyPiechartData.sort(sort_by_y);

        var urlStart = '/openrem/ct/?{% for field in filter.form %}{% if field.name != 'study_description' and field.name != 'date_before' and field.name != 'date_after' and field.name != 'o' and field.value %}&{{ field.name }}={{ field.value }}{% endif %}{% endfor %}&study_description=';

        {% if request.user.userprofile.plotAverageChoice == 'mean' %}
        meanDLPOverTime = [
          {% for studyData in studyMeanDLPoverTime %}
            {{'{'}}name:studyNames[{{forloop.counter}}-1],
                  color:studyLineColours[{{forloop.counter}}-1],
                  marker:{{'{'}}enabled:true{{'}'}},
                  point: {{'{'}}
            events: {{'{'}}
                    click: function(e) {{'{'}}
            location.href = e.point.url;
            e.preventDefault();
            {{'}'}}
            {{'}'}}
            {{'}'}},
            data:[
              {% for dateEntries in studyData %}
                {{'{'}}y:{% if dateEntries.1 %}{{ dateEntries.1 }}{% else %}null{% endif %},url:urlStart+studyNames[{{forloop.parentloop.counter}}-1]+'&date_after='+formatDate(new Date({{dateEntries.0.year}},{{dateEntries.0.month}}-1,{{dateEntries.0.day}}))+'&date_before='+ formatDate(new Date ((new Date({{dateEntries.0.year}},{{dateEntries.0.month}}-1,{{dateEntries.0.day}})).setDate((new Date({{dateEntries.0.year}},{{dateEntries.0.month}}-1,{{dateEntries.0.day}})).getDate()+6))){{'}'}}
                      {% if not forloop.last %},{% endif %}
              {% endfor %}
            ]{{'}'}}
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        {% else %}
        medianDLPOverTime = [
          {% for studyData in studyMedianDLPoverTime %}
            {{'{'}}name:studyNames[{{forloop.counter}}-1],
                  color:studyLineColours[{{forloop.counter}}-1],
                  marker:{{'{'}}enabled:true{{'}'}},
                  point: {{'{'}}
            events: {{'{'}}
                    click: function(e) {{'{'}}
            location.href = e.point.url;
            e.preventDefault();
            {{'}'}}
            {{'}'}}
            {{'}'}},
            data:[
              {% for dateEntries in studyData %}
                {{'{'}}y:{% if dateEntries.1 %}{{ dateEntries.1 }}/10000000000{% else %}null{% endif %},url:urlStart+studyNames[{{forloop.parentloop.counter}}-1]+'&date_after='+formatDate(new Date({{dateEntries.0.year}},{{dateEntries.0.month}}-1,{{dateEntries.0.day}}))+'&date_before='+ formatDate(new Date ((new Date({{dateEntries.0.year}},{{dateEntries.0.month}}-1,{{dateEntries.0.day}})).setDate((new Date({{dateEntries.0.year}},{{dateEntries.0.month}}-1,{{dateEntries.0.day}})).getDate()+6))){{'}'}}
                      {% if not forloop.last %},{% endif %}
              {% endfor %}
            ]{{'}'}}
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        {% endif %}
      </script>

      {% if request.user.userprofile.plotAverageChoice == 'mean' %}
      <script src="{{ STATIC_URL }}js/ctChartMeanDLPperStudyOverTime.js"></script>
      {% else %}
      <script src="{{ STATIC_URL }}js/ctChartMedianDLPperStudyOverTime.js"></script>
      {% endif %}
      <!-- End of JavaScript for mean DLP per study description -->
    {% endif %}


  {% endif %}
{% endblock %}
