{% extends "remapp/base.html" %}


{% block navbar %}
  {% if request.user.userprofile.displayCT %}<li><a href="/openrem/ct">CT</a></li>{% endif %}
  {% if request.user.userprofile.displayRF %}<li><a href="/openrem/rf">Fluoroscopy</a></li>{% endif %}
  {% if request.user.userprofile.displayMG %}<li><a href="/openrem/mg">Mammography</a></li>{% endif %}
  {% if request.user.userprofile.displayDX %}<li><a href="/openrem/dx">Radiography</a></li>{% endif %}
{% endblock %}


{% block mainblock %}
  {% if admin.adminperm %}
  <form action="/openrem/updatedisplayname/{{ name_list.values.get.id }}" method="post">{% csrf_token %}
  {% endif %}
  <table class="table table-bordered table-hover row-clickable">
    <row>
      <th>Display name</th><th>Institution</th><th>Department</th><th>Manufacturer</th><th>Model</th><th>Station name</th><th>Serial no.</th><th>Software version</th><th>Gantry ID</th>
    </row>
      <tr>
        {% if admin.adminperm %}
        <td><a style="text-decoration: none">{{ form.display_name }}</a></td>
        {% else %}
        <td><a style="text-decoration: none">{{ name_list.values.get.display_name }}</a></td>
        {% endif %}
        <td><a style="text-decoration: none">{{ name_list.values.get.institution_name }}</a></td>
        <td><a style="text-decoration: none">{{ name_list.values.get.institutional_department_name }}</a></td>
        <td><a style="text-decoration: none">{{ name_list.values.get.manufacturer }}</a></td>
        <td><a style="text-decoration: none">{{ name_list.values.get.manufacturer_model_name }}</a></td>
        <td><a style="text-decoration: none">{{ name_list.values.get.station_name }}</a></td>
        <td><a style="text-decoration: none">{{ name_list.values.get.device_serial_number }}</a></td>
        <td><a style="text-decoration: none">{{ name_list.values.get.software_versions }}</a></td>
        <td><a style="text-decoration: none">{{ name_list.values.get.gantry_id }}</a></td>
      </tr>
  </table>
  {% if admin.adminperm %}
  <input type="submit" value="Update" />
  {% endif %}
  </form>

{% endblock %}


      </div>
    </div>
  </form>